body {
  background: #EEE;
  font-family: sans-serif;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  overflow: auto;
  width: 450px;
}

#title {
  color: #0A4F5A;
  float: left;
  font-size: 100px;
  line-height: 150px;
}

#controls {
  float: right;
}

#new-game {
  background: #0A4F5A;
  border-radius: 5px;
  color: #FFF;
  display: inline-block;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

.score-box {
  background: #0A4F5A;
  border-radius: 5px;
  color: #FFF;
  font-size: 18px;
  margin-top: 5px;
  overflow: auto;
  padding: 10px;
  position: relative;
}

.score-label {
  float: left;
}

.score-value {
  color: #8DD6D1;
  float: right;
  font-weight: bold;
}

.score-animate {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

#board {
  background: #666;
  border-radius: 8px;
  display: inline-block;
  padding: 5px;
}

.row {
  overflow: auto;
}

.tile {
  background: #CCC;
  border-radius: 4px;
  color: #FFF;
  float: left;
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  text-align: center;
  width: 100px;
}

.tile-2 {
  background: #8DD6D1;
}

.tile-4 {
  background: #2CA29B;
}

.tile-8 {
  background: #117175;
}

.tile-16 {
  background: #0A4F5A;
}

.tile-32 {
  background: #021B27;
}

.tile-64 {
  background: #3D0D26;
}

.tile-128 {
  background: #660A3E;
}

.tile-256 {
  background: #891C56;
}

.tile-512 {
  background: #B0276F;
}

.tile-1024 {
  background: #C93482;
  font-size: 40px;
}

.tile-2048 {
  background: #E0F506;
  font-size: 40px;
}
